<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="st3215_ros2_control">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import st3215_ros2_control urdf file -->
    <xacro:include filename="$(find st3215_ros2_control)/urdf/so_arm100.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="st3215_ros2_control.ros2_control.xacro" />


    <xacro:st3215_ros2_control_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
